<mat-sidenav-container class="shell">
  <mat-sidenav
    #drawer
    class="shell__sidenav"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <div class="shell__brand">
      <span class="shell__brand-icon" aria-hidden="true">
        <mat-icon>work</mat-icon>
      </span>
      <span class="shell__brand-text">{{ 'app.name' | t }}</span>
    </div>
    <mat-nav-list>
      @for (item of navItems; track item.link) {
        <a
          mat-list-item
          [routerLink]="item.link"
          routerLinkActive="active"
          (click)="closeIfHandset(drawer)"
        >
          <mat-icon matListItemIcon aria-hidden="true">{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label | t }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="shell__toolbar">
      <div class="shell__toolbar-left">
        @if (isHandset$ | async) {
          <button
            mat-icon-button
            type="button"
            (click)="drawer.toggle()"
            [attr.aria-label]="'aria.openNavigation' | t"
          >
            <mat-icon>menu</mat-icon>
          </button>
        }
        <span class="shell__title">{{ 'app.name' | t }}</span>
      </div>

      <span class="shell__spacer"></span>

      <div class="shell__toolbar-actions">
        <a
          mat-stroked-button
          color="primary"
          routerLink="/app/jobs/new"
          class="shell__cta"
          [attr.aria-label]="'nav.newJob' | t"
        >
          <mat-icon aria-hidden="true">add</mat-icon>
        </a>

        @if (profile$ | async; as profile) {
          <button
            mat-button
            type="button"
            class="shell__user-button"
            [matMenuTriggerFor]="userMenu"
            [attr.aria-label]="'aria.openUserMenu' | t"
          >
            <span class="shell__user-name">{{ profile.first_name }}</span>
            <mat-icon>expand_more</mat-icon>
                        <app-avatar [name]="profile.first_name" [color]="profile.avatar_color"></app-avatar>

          </button>
        } @else {
          <button
            mat-icon-button
            type="button"
            class="shell__user-button"
            [matMenuTriggerFor]="userMenu"
            [attr.aria-label]="'aria.openUserMenu' | t"
          >
            <mat-icon>account_circle</mat-icon>
          </button>
        }
      </div>
    </mat-toolbar>

    <main class="shell__content">
      <div class="shell__content-inner">
        <router-outlet></router-outlet>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="/app/settings">
    <mat-icon aria-hidden="true">settings</mat-icon>
    <span>{{ 'nav.settings' | t }}</span>
  </button>
  <button mat-menu-item type="button" (click)="signOut()">
    <mat-icon aria-hidden="true">logout</mat-icon>
    <span>{{ 'menu.signOut' | t }}</span>
  </button>
</mat-menu>
