<mat-sidenav-container class="shell">
  <mat-sidenav
    #drawer
    class="shell__sidenav"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <div class="shell__brand">
      <mat-icon aria-hidden="true">work</mat-icon>
      <span class="shell__brand-text">{{ 'app.name' | t }}</span>
    </div>
    <mat-nav-list>
      @for (item of navItems; track item.link) {
        <a
          mat-list-item
          [routerLink]="item.link"
          routerLinkActive="active"
          (click)="closeIfHandset(drawer)"
        >
          <mat-icon matListItemIcon aria-hidden="true">{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label | t }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="shell__toolbar">
      @if (isHandset$ | async) {
        <button
          mat-icon-button
          type="button"
          (click)="drawer.toggle()"
          [attr.aria-label]="'aria.openNavigation' | t"
        >
          <mat-icon>menu</mat-icon>
        </button>
      }
      <span class="shell__title">{{ 'app.name' | t }}</span>
      <span class="shell__spacer"></span>
      <app-language-toggle />
      @if (profile$ | async; as profile) {
        <button
          mat-button
          type="button"
          class="shell__user-button"
          [matMenuTriggerFor]="userMenu"
          [attr.aria-label]="'aria.openUserMenu' | t"
        >
          <app-avatar [name]="profile.first_name" [color]="profile.avatar_color"></app-avatar>
          <span class="shell__user-name">{{ profile.first_name }}</span>
          <mat-icon>expand_more</mat-icon>
        </button>
      } @else {
        <button
          mat-icon-button
          type="button"
          class="shell__user-button"
          [matMenuTriggerFor]="userMenu"
          [attr.aria-label]="'aria.openUserMenu' | t"
        >
          <mat-icon>account_circle</mat-icon>
        </button>
      }
    </mat-toolbar>

    <main class="shell__content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="/app/jobs">
    <mat-icon aria-hidden="true">work</mat-icon>
    <span>{{ 'nav.jobs' | t }}</span>
  </button>
  <button mat-menu-item routerLink="/app/settings">
    <mat-icon aria-hidden="true">settings</mat-icon>
    <span>{{ 'nav.settings' | t }}</span>
  </button>
  <button mat-menu-item type="button" (click)="signOut()">
    <mat-icon aria-hidden="true">logout</mat-icon>
    <span>{{ 'menu.signOut' | t }}</span>
  </button>
</mat-menu>
