@import '@angular/material/prebuilt-themes/indigo-pink.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #f7f8fb;
  color: #1f1f1f;
}

a {
  color: inherit;
  text-decoration: none;
}
